@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
  margin: 0;
  padding: 0;
}

body { font-family: 'Roboto', sans-serif; }

.title {
  font-size: 2.5em;
  text-align: center;
}

/* BOXES */
.box { min-height: 150px; }
.dark_blue { background-color: #2A457A; }
.light_blue { background-color: #099DD9; }
.green { background-color: #0C8542; }
.red { background-color: #EC1D3B; }


/* SMALLEST VIEWPORT */
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.box {
  width: 100%;
}

/* BREAK POINT */
@media screen and (min-width: 500px) {
  .dark_blue { width: 50%; }
  #container2 { width: 50%; }
}

/* BREAK POINT */
@media screen and (min-width: 650px) {
  .dark_blue {
    width: 25%;
    order: 1;
  }
  #container2 {
    width: 50%;
  }
  .red{
    width: 25%;
    order: -1;
  }
}

/* BREAK POINT */
@media screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
